.content3{
	width: 1093px;
	height: 3300px;
	margin-left: 136px;
}

.content3 div{
	width: 250px;
	height: 300px;
	padding-left: 10px;
	float: left;
}
.content3 div:hover hr{filter:alpha(Opacity=100);-moz-opacity:1.0;opacity: 1.0}
.content3 div:hover p{filter:alpha(Opacity=100);-moz-opacity:1.0;opacity: 1.0} 
.content3 hr{
	width: 250px;
	color: gray;
	opacity: 0.6;
}
.content3 b{
	font-weight: normal;
}
.content3 p{
	font-size: 12px;
	color: black;
	opacity: 0.5;
}
.content3 div h3{
	font-size: 16px;
}
.content3 div h3 a{
	color: red;
    text-decoration: none;
}