.content5{
	width: 1093px;
	height: 1500px;
	margin-left: 136px;
}

.content5 div{
	width: 250px;
	height: 300px;
	padding-left: 10px;
	float: left;
}
.content5 div:hover hr{filter:alpha(Opacity=100);-moz-opacity:1.0;opacity: 1.0}
.content5 div:hover p{filter:alpha(Opacity=100);-moz-opacity:1.0;opacity: 1.0} 
.content5 hr{
	width: 250px;
	color: gray;
	opacity: 0.6;
}
.content5 b{
	font-weight: normal;
}
.content5 p{
	font-size: 12px;
	color: black;
	opacity: 0.5;
}
.content5 div h3{
	font-size: 16px;
}
.content5 div h3 a{
	color: red;
    text-decoration: none;
}